<% include partials/header %>
<% include partials/navbar %>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img style="width: 250px" src="https://image.flaticon.com/icons/svg/17/17004.svg" alt="User"/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        <%= result.first_name +" "+result.last_name %>
                    </h5>
                    <h6>
                        <%= result.role %>
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/profile/edit/<%= result.id %>"><input type="button" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/></a>
            </div>
            <br><br>
            <div class="col-md-2">
                <a href="/profile/change-password/<%= result.id %>"><input type="button" class="profile-edit-btn" name="btnAddMore" value="Change Password"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Social Link</p>
                    <a href="<%= result.social_link %>"><%= result.social_link %></a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id:</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= result.id %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name:</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= result.first_name +" "+result.last_name %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email:</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= result.email %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone:</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= result.phone %></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Role:</label>
                                </div>
                                <div class="col-md-6">
                                    <p><%= result.role %></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<% include ./partials/footer %>