<% include partials/header %>
<% include partials/navbar %>

<div class="container">

    <div class="jumbotron">
        <h2>Sign Up!</h2>
    </div>


    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign up</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                    <label style="color: red">
                                        <%if(typeof errors != "undefined"){%>
                                            <% errors.forEach(function(err){ %>
                                            <%if(err.param == "first_name"){%>
                                            <%=err.msg%> <br/>
                                            <% } %>
                                            <% }); %>
                                        <% } %>
                                    </label>
                                </div>


                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                                    <label style="color: red">
                                        <%if(typeof errors != "undefined"){%>
                                            <% errors.forEach(function(err){ %>
                                            <%if(err.param == "last_name"){%>
                                            <%=err.msg%> <br/>
                                            <% } %>
                                            <% }); %>
                                        <% } %>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <input type="" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                            <label style="color: red">
                                <%if(typeof errors != "undefined"){%>
                                    <% errors.forEach(function(err){ %>
                                    <%if(err.param == "email"){%>
                                    <%=err.msg%> <br/>
                                    <% } %>
                                    <% }); %>
                                <% } %>
                            </label>
                            <label style="color: red"><%if (email_exist=='yes') { %> Email Already Exists! <% } %></label>
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Phone">
                            <label style="color: red">
                                <%if(typeof errors != "undefined"){%>
                                    <% errors.forEach(function(err){ %>
                                    <%if(err.param == "phone"){%>
                                    <%=err.msg%> <br/>
                                    <% } %>
                                    <% }); %>
                                <% } %>
                            </label>
                            <label style="color: red"><%if (phone_exist=='yes') { %> Phone Number Already Exists! <% } %></label>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                    <label style="color: red">
                                        <%if(typeof errors != "undefined"){%>
                                            <% errors.forEach(function(err){ %>
                                                <%if(err.param == "password"){%>
                                                    <%if(err.param == "password"){%>
                                                        <%=err.msg%> <br/>
                                                    <% } %>
                                                <% } %>
                                            <% }); %>
                                        <% } %>
                                    </label>
                                </div>

                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                    <label style="color: red">
                                        <%if(typeof errors != "undefined"){%>
                                            <% errors.forEach(function(err){ %>
                                            <%if(err.param == "password_confirmation"){%>
                                            <%=err.msg%> <br/>
                                            <% } %>
                                            <% }); %>
                                        <% } %>
                                    </label>
                                </div>

                                <div>
                                    <label style="color: red"><%if (pass_mismatch=='yes') { %> Password didn't match! <% } %></label>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <input type="text" name="social_link" id="social_link" class="form-control input-sm" placeholder="Socail Link (Optional)">
                            <label style="color: red">
                                <%if(typeof errors != "undefined"){%>
                                    <% errors.forEach(function(err){ %>
                                    <%if(err.param == "social_link"){%>
                                    <%=err.msg%> <br/>
                                    <% } %>
                                    <% }); %>
                                <% } %>
                            </label>
                        </div>

                        <select class="form-control input-sm" name="role" id="role">
                            <option  type="text" value="">Select Your Role</option>
                            <option type="text" value="Manager">Manager</option>
                            <option type="text" value="Member">Member</option>


                        </select><br>
                        <label style="color: red">
                            <%if(typeof errors != "undefined"){%>
                                <% errors.forEach(function(err){ %>
                                <%if(err.param == "role"){%>
                                <%=err.msg%> <br/>
                                <% } %>
                                <% }); %>
                            <% } %>
                        </label>


                        <input type="submit" value="Register" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<% include partials/script %>